__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
anidex-y

animals/**/*
animals/*
animals
*.png
*.jpeg
*.jpg
.gitignore
LICENSE
app.py
vercel.json
*.md
